@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar__link:hover {
    color: #DF8F51;
    transition: all 0.2s;
  }

  .navbar__link::after{
    position: absolute;
    content: "";
    background-color: #DF8F51;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.2s;
  }

  .navbar__link:hover::after{
    scale: 1;
  }

  .bg-current {
    background-color: #DF8F51;
}
}